@charset "utf-8";
/* CSS Document */
body {
    background-image: url("../IMAGES/optbgimage5.jpg");
    background-size: cover;
    font-family: Calibri, Arial, sans-serif;
    }

a {
    text-decoration: none;
    color: #f0a059;
}

h1, h2, h3 {
    margin: 0;
    padding: 25px;
}

h1 {
    color: #f0a059
}

h2 {
    color: #d1664b;
    font-size: 20px;
    margin: 0 auto;
}

h3 {
    font-size: 12px;
    color: black;
    margin: 10px;
    text-align: left;
}

h5 {
    float: left;
    margin-left; 630px;
    margin-top: 5px;
}

blog {
    float: left;
    background-color: coral;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: antiquewhite;
    width: 92%;
}

article {
    background: white;
    
}

article h3 {
    float: left;
    width: 95%;
    background: coral;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-top: -20px;
}

article h4 {
    float: left;
    width: 95%;
    height: 10px;
    background: coral;
    padding: 20px;
    margin-top: 0px;
    font-size: 10px;
}

table {
    background: coral;
    width: 100%;
    float: right;
}

.header {
    overflow: hidden;
    color: blueviolet;
    text-align: left;
    padding: 10px;
}

.content {
    padding: 0;
}

.topnav {
    background-color: #e8b1a3;
    }

.topnav a {
    display: block;
    color: #d1664b;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;    
}
.topnav li {
    list-style: none;
}

.topnav ul{
    float: left;
}

.topnav ul li{
    float: left;
    list-style: none;
    position: relative;
}

.topnav ul li ul {
    display: none;
    position: absolute;
    background-color: #e8b1a3;
    padding: 10px;
    border-radius: 2px 2px;
}

.topnav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: #e3c6ac;
    padding: 10px;
    padding-right: 10px;
    border-radius: 2px 2px;
}

.topnav ul li ul li {
    padding: 8px 14px;
}

.topnav ul li ul li a:hover {
    background-color: #e8b1a3;
}

.slider_image {
    flex: 75%;
    flex-wrap: wrap;
    display: flex;
    background-color: #d1664b;
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: left;
    clear: both;
}

.flex-container > div {
    color: antiquewhite;
    margin: 10px;
    text-align: left;
    line-height: 25px;
    font-size: 30px;
}

.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
}

.flex-container1 > div {
    color: antiquewhite;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
}

.flexcontainer2 {
    display: flex;
    background-color: #d1664b;
    justify-content: center;
    clear: both;
}

.flexcontainer2 > div {
    background-color: #f0a059;
    color: antiquewhite;
    width: 100%;
    margin: 10px;
    text-align-last: center;
    line-height: 75px;
    font-size: 30px;
}

.footer {
    text-align-last: center;
}

.flex-container3 {
    display: flex;
    background-color: #e8b1a3;
    justify-content: center;
    clear: both;
}
.flex-container3 > div {
    background-color: #e8b1a3;
    color: white;
    width: 85%;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}

.flex-container3 < div > h1 {
    background-color: #e8b1a3;
    color: antiquewhite;
    width: 85%;
    margin: 15px;
    text-align: left;
    line-height: 30;
    font-size: 15px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.flex-container3 < div > h2 {
    background-color: #e8b1a3;
    color: beige;
    width: 85%;
    margin: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.flex-container3 < div > h3 {
    background-color: #e8b1a3;
    color: beige;
    width: 85%;
    margin: 10px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
}

.carousel-wrapper{
    height:400px;
    position:relative;
    width:500px;
    margin:0 auto;
}
    
.carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}

.light{
    color:white;
}

@media (max-width: 450px) {
    .arrow, .light .arrow {
     background-size: 10px;
     background-position: 10px 50%;   
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background:url(https://cdn.pixabay.com/photo/2022/02/12/08/04/girl-7008608_1280.jpg);
    background-size:cover;
}
    
.item-2 {
    background:url(https://cdn.pixabay.com/photo/2017/10/05/20/28/smoothie-2820842_1280.jpg);
    background-size:cover;
}

.item-3 {
    background:url(https://cdn.pixabay.com/photo/2020/09/21/17/21/fresh-lime-juice-5590739_1280.jpg);
    background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ ,item-2, #item-3:target ~ .item3 {
    z-index: 3;
    opacity: 1;
}